In [ ]:
### Assignment-02
- Change the notebook name with your name and Roll Number.
- Try this as your own, no chatgpt (it's for your learning)
- after completing the assignment, submit this book on google class room.

Declare and print a variable with the name "name" containing your name.

In [3]:
name = "Moniba"
print("Name: " + name)

Name: Moniba

In [ ]:
Create two variables, x and y, and swap their values without using a third variable.

In [21]:
x,y = 10,20
print("x:",x ," ","y:",  y)
x,y = 20, 10
print("x:", x," ", "y:", y)

x: 10   y: 20
x: 20   y: 10

Calculate the area of a rectangle with length and width stored in variables.

In [7]:
l = 20
w = 5
area = (l*w)
print("Area of rectangle:" , area)

Area of rectangle: 100

In [ ]:
Create a variable with a long string (multi-line) and print its length.

In [11]:
hobby = """Book reading is a fulfilling way to expand knowledge and relax the mind.It allows
the readers to explore diverse worlds and ideas, enriching personal growth and 
deepening the understanding."""
print(hobby)
len(hobby)

Book reading is a fulfilling way to expand knowledge and relax the mind.It allows
the readers to explore diverse worlds and ideas, enriching personal growth and
deepening the understanding.

190

Create a variable to store your favorite number and print it.

In [14]:
M = 20
print("M: " , M)

M:  20

Declare and assign values to multiple variables to represent the sides of a triangle. Calculate and print its perimeter.

In [15]:
side1 = 5
side2 = 10
side3 = 7
perimeter = (side1 + side2 + side3)
print("Perimeter: " , perimeter)

Perimeter:  22

Store the price of an item in one variable and the quantity in another. Calculate and print the total cost.

In [22]:
price = 200
quantity = 5
total_cost = (price*quantity)
print("Total cost: " , total_cost)

Total cost:  1000

Declare a constant variable for the value of pi (Ï€) and use it to calculate the circumference of a circle with a given radius.

In [27]:
pi = 3.14
r = 8
circumference = (2*pi*r)
print("Circumference: " , circumference)

Circumference:  50.24

Calculate the sum of two numbers, a and b.

In [28]:
a = 2130
b = 2528
sum = (a+b)
print("Sum: " , sum)

Sum:  4658

Calculate the product of two numbers, a and b.

In [29]:
a = 20
b = 30
product = (a*b)
print("Product: " , product)

Product:  600

Calculate the result of dividing a by b (with proper error handling for division by zero).

In [27]:
a = 65
b = 0
try:
    result = a/b
except ZeroDivisionError:
    print("division by zero is not allowed")

division by zero is not allowed

Calculate the square of a number x.

In [61]:
x = 7
sq = (x**2)
print("square of x: " , sq)

square of x:  49

Calculate the remainder when a is divided by b.

In [1]:
a = 97
b = 5
m = a%b
print ("ramainder =" , m)

ramainder = 2

 Calculate the result of dividing 17 by 3 and print the quotient and remainder.

In [2]:
m= 17
n = 3
s = m/n
z = m%n
print ("quotient =" , s)
print ("remainder =" , z)

quotient = 5.666666666666667
remainder = 2

Calculate the area of a square with a given side length.

In [30]:
length = 12
area = (length*length)
print("Area of square: " , area)

Area of square:  144

Calculate the average of five numbers.

In [31]:
n1= 90
n2 = 87
n3 = 85
n4 = 92
n5 = 88
sum = (n1+n2+n3+n4+n5)
avg = (sum/5)
print("Average: " , avg)

Average:  88.4

Create a variable with a boolean value and print its opposite value.

In [12]:
a = "true"
print (not a)

False

Store your birth year in a variable and calculate your age.

In [14]:
birth_year = 2000
current_year = 2024
age = current_year - birth_year 
print ("Age =", age)

Age = 24

Create a variable with an integer and convert it to a float.

In [15]:
m = 20
s = (float(m))
print (s)

20.0

Create a variable with a float and convert it to an integer.

In [21]:
x = 20.30
y = (int(x))
print (y)
type(y)

20

int

Create a variable with a string that represents an integer and convert it to an integer.

In [19]:
s = "2024"
m = (int(s))
print (m)
type(m)

2024

int

Create a variable with a string that represents a float and convert it to a float.

In [26]:
f = "2024.99"
g = (float(f))
print (g)

2024.99

Create a variable with a number and convert it to a string.

In [29]:
p = 199730
q = (str(p))
print (q)
type(q)

199730

str

Calculate the absolute value of a number.

In [31]:
m = 27
s = (abs(m))
print ("absolute value= " , s)
x = -19
y = (abs(x))
print ("absolute value= " , y)

absolute value=  27
absolute value=  19

Calculate the square root of a number.

In [32]:
r = 24
u = r**2
print ("square root= " , u)

square root=  576

Calculate the value of a raised to the power of b.

In [40]:
a = 20
b = 4
m = a**b
print (m)

160000

Round a float to the nearest integer.

In [43]:
m = 2089.9
s = (round(m))
print (s)

2090

Combine multiple conditions using logical operators and print the result.

In [48]:
x = 5
y = 15
z = 30
op_or = (x>y) or (y<z)
op_and = (y>x) and (x<z)
op_not = not (z<x)
print ("Or=  " , op_or)
print ("And= " , op_and)
print("Not= " , op_not)

Or=   True
And=  True
Not=  True

Generate a random number between 1 and 100.**(challenging)**

In [59]:
r1 = 0
r2 = 250
random_num = random.randint(r1,r2)
print ("Random number= " , random_num)

Random number=  60